<template name="auth">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" id="login-email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="login-password" name="password" class="form-control" placeholder="Password" required>

        {{#if createAccount}}
            <button class="btn btn-lg btn-primary btn-block" type="button" id="signup">Create account</button>
            <button type="button" class="go-to-signin btn btn-link pull-right">or Sign in</button>
        {{else}}
            <button class="btn btn-lg btn-primary btn-block" type="button" id="signin">Sign in</button>
            <button type="button" class="go-to-signup btn btn-link pull-right">or Create account</button>
        {{/if}}
    </form>
</template>
