body
  background #f3f3f3

.side-menu-left
    position fixed
    width 240px
    height 100%
    padding 30px 20px 0 20px
    background #fff
    //border-right solid 1px #bbb


.content-page
    margin-left 240px
    overflow hidden
    position relative

.content
  padding 20px
