<template name="sideMenu">
    {{!--<a href="{{pathFor 'home'}}" class="{{activePage 'home'}}">
    <span class="wrapper-menu-item">
      <span class="icon-home"></span>
      <span class="title-menu">Home</span>
    </span>
    </a>
    <a href="{{pathFor 'feed'}}" class="{{activePage 'feed'}}">
    <span class="wrapper-menu-item">
      <span class="icon-rss"></span>
      <span class="title-menu">What's<br>Cooking</span>
    </span>
    </a>
    <a href="{{pathFor 'recipes'}}" class="{{activePage 'recipes' 'recipe'}}">
    <span class="wrapper-menu-item">
      <span class="icon-category"></span>
      <span class="title-menu">Recipes</span>
    </span>
    </a>
    <a href="{{pathFor 'bookmarks'}}" class="{{activePage 'bookmarks'}}">
    <span class="wrapper-menu-item">
      <span class="icon-bookmark-hollow"></span>
      <span class="title-menu">Bookmarks</span>
    </span>
    </a>
    <a href="{{pathFor 'about'}}" class="{{activePage 'about'}}">
    <span class="wrapper-menu-item">
      <span class="icon-question"></span>
      <span class="title-menu">About</span>
    </span>
    </a>--}}

    <div class="user-info">
        <div class="user-info__photo"></div>
    </div>
    <nav class="side-nav">
        <a href="#" class="side-nav__link icon-home">Главная</a>
        <a href="#" class="side-nav__link icon-news">Операции</a>
        <a href="#" class="side-nav__link icon-image">Баланс</a>
        <a href="#" class="side-nav__link icon-upload">Группы</a>
        <a href="#" class="side-nav__link icon-star">Пригласить друга</a>
    </nav>
</template>
