.header {
    position fixed
    top 0
    width 100%
    background #ffdf39
    box-sizing border-box
    padding 3vw 5vw

    &__left {
        float left
        width 10%
    }
    &__center {
        float left
        width 80%
        text-align center
    }
    &__right {
        float right
        width 10%
    }
}

.menu-button {
    line-height 0
    vertical-align middle

    &__icon {
        width 6vw
        height 6vw
    }
}

.filter-button {
    line-height 0
    vertical-align middle

    &__icon {
        width 6vw
        height 6vw
    }
}

.header-title {
    font-size 1.2em
}

